.wd-kanbas-navigation{
    background-color: rgb(0, 0, 0);
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
}
.wd-kanbas-navigation li{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-bottom:1px ;
}
.wd-kanbas-navigation a{
    color: white;
    text-decoration: none;
    
} 
.wd-flex-row-container .wd-kanbas-navigation .northeastern-logo{
    padding: 5px;
}
.wd-kanbas-navigation li.wd-active{
    background-color: white;
}

.wd-kanbas-navigation li.wd-active a{
    color: rgb(199, 52, 52);
}
.wd-kanbas-navigation a i{
    color: rgb(199, 52, 52);
    font-size: 2em;
    padding: 5px;
}
.wd-kanbas-navigation li.wd-active a i{
    color: rgb(199, 52, 52);
}