.wd-flex-row-container .wd-dash-second-col{
margin-left: 3%;
}

.wd-dashboard-grid .col{
    width: 270px;
    height: 260px;
}

.card-text{
    font-size: 12px;
}
.card-title{
font-size: 14px;
color: blue;
}
.card-text i{
    font-size: 1.8em;
}
.card-text a{
    text-decoration: none;
    color: black;
}
.card-text i:hover{
    color: red;
}