.wd-dashboard-grid .col{
    width: 280px;
    height: 275px;
    margin: 2%;
    
}

.card-text{
    font-size: 12px;
}
.card-title{
font-size: 14px;
color: blue;
}
.card-text i{
    font-size: 1.8em;
    padding-top: 2px;
}
.card-text a{
    text-decoration: none;
    color: black;
}
.card-text i:hover{
    color: red;
}
button .btn .btn-warning .wd-button{
    margin: 2%;
}